<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wx.dao.TaskdetailDao">

	<resultMap id="querySettleAccountDetail"   type="java.util.HashMap">
		<result column="Uid" property="uid"/>
		<result column="parentId" property="parentid" />
		<result column="Price" property="price" />
		<result column="uAccountId" property="uaccountid" />
		<result column="parentUAccountId" property="parentuaccountid" />
	</resultMap>

	<select id="get" resultType="com.bootdo.wx.domain.TaskdetailDO">
		select `id`,`Taskid`,`Uid`,`parentId`,`WxId`,`Price`,`TaskType`,`Stauts`,`Remark`,`Createdate`,`Modifydate` from wx_taskdetail where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wx.domain.TaskdetailDO">
		select `id`,`Taskid`,`Uid`,`parentId`,`WxId`,`Price`,`TaskType`,`Stauts`,`Remark`,`Createdate`,`Modifydate` from wx_taskdetail
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskid != null and taskid != ''"> and Taskid = #{taskid} </if>
		  		  <if test="uid != null and uid != ''"> and Uid = #{uid} </if>
		  		  <if test="parentid != null and parentid != ''"> and parentId = #{parentid} </if>
		  		  <if test="wxid != null and wxid != ''"> and WxId = #{wxid} </if>
		  		  <if test="price != null and price != ''"> and Price = #{price} </if>
		  		  <if test="tasktype != null and tasktype != ''"> and TaskType = #{tasktype} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="remark != null and remark != ''"> and Remark = #{remark} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from wx_taskdetail
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskid != null and taskid != ''"> and Taskid = #{taskid} </if>
		  		  <if test="uid != null and uid != ''"> and Uid = #{uid} </if>
		  		  <if test="parentid != null and parentid != ''"> and parentId = #{parentid} </if>
		  		  <if test="wxid != null and wxid != ''"> and WxId = #{wxid} </if>
		  		  <if test="price != null and price != ''"> and Price = #{price} </if>
		  		  <if test="tasktype != null and tasktype != ''"> and TaskType = #{tasktype} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="remark != null and remark != ''"> and Remark = #{remark} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wx.domain.TaskdetailDO" useGeneratedKeys="true" keyProperty="id">
		insert into wx_taskdetail
		(
			`Taskid`, 
			`Uid`, 
			`parentId`, 
			`WxId`, 
			`Price`, 
			`TaskType`, 
			`Stauts`, 
			`Remark`, 
			`Createdate`, 
			`Modifydate`
		)
		values
		(
			#{taskid}, 
			#{uid}, 
			#{parentid}, 
			#{wxid}, 
			#{price}, 
			#{tasktype}, 
			#{stauts}, 
			#{remark}, 
			#{createdate}, 
			#{modifydate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wx.domain.TaskdetailDO">
		update wx_taskdetail 
		<set>
			<if test="taskid != null">`Taskid` = #{taskid}, </if>
			<if test="uid != null">`Uid` = #{uid}, </if>
			<if test="parentid != null">`parentId` = #{parentid}, </if>
			<if test="wxid != null">`WxId` = #{wxid}, </if>
			<if test="price != null">`Price` = #{price}, </if>
			<if test="tasktype != null">`TaskType` = #{tasktype}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="remark != null">`Remark` = #{remark}, </if>
			<if test="createdate != null">`Createdate` = #{createdate}, </if>
			<if test="modifydate != null">`Modifydate` = #{modifydate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from wx_taskdetail where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from wx_taskdetail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 获取结算明细 -->
	<select id="querySettleAccountDetail" resultMap="querySettleAccountDetail">
		SELECT t.Uid,t.parentId,sum(t.Price) Price,t1.id uAccountId,t2.id parentUAccountId
		FROM use_account t1,wx_taskdetail t LEFT JOIN use_account t2 ON t.parentId = t2.Uid
		where Stauts=1 AND t.Uid = t1.Uid and  Taskid = #{value}
		GROUP BY t.Uid,t.parentId,uAccountId,parentUAccountId
	</select>

</mapper>