<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wx.dao.TaskinfoDao">

	<select id="get" resultType="com.bootdo.wx.domain.TaskinfoDO">
		select `id`,`url`,`WxName`,`WxId`,`uin`,`key`,`TaskType`,`Price`,`Num`,`TotalMoney`,`taskPeriod`,`Stauts`,`FinishNum`,`sort`,`Createdate`,`Modifydate` from wx_taskinfo where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wx.domain.TaskinfoDO">
		select `id`,`url`,`WxName`,`WxId`,`uin`,`key`,`TaskType`,`Price`,`Num`,`TotalMoney`,`taskPeriod`,`Stauts`,`FinishNum`,`sort`,`Createdate`,`Modifydate` from wx_taskinfo
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="wxname != null and wxname != ''"> and WxName = #{wxname} </if>
		  		  <if test="wxid != null and wxid != ''"> and WxId = #{wxid} </if>
		  		  <if test="uin != null and uin != ''"> and uin = #{uin} </if>
		  		  <if test="key != null and key != ''"> and key = #{key} </if>
		  		  <if test="tasktype != null and tasktype != ''"> and TaskType = #{tasktype} </if>
		  		  <if test="price != null and price != ''"> and Price = #{price} </if>
		  		  <if test="num != null and num != ''"> and Num = #{num} </if>
		  		  <if test="totalmoney != null and totalmoney != ''"> and TotalMoney = #{totalmoney} </if>
		  		  <if test="taskperiod != null and taskperiod != ''"> and taskPeriod = #{taskperiod} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="finishnum != null and finishnum != ''"> and FinishNum = #{finishnum} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from wx_taskinfo
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="wxname != null and wxname != ''"> and WxName = #{wxname} </if>
		  		  <if test="wxid != null and wxid != ''"> and WxId = #{wxid} </if>
		  		  <if test="uin != null and uin != ''"> and uin = #{uin} </if>
		  		  <if test="key != null and key != ''"> and key = #{key} </if>
		  		  <if test="tasktype != null and tasktype != ''"> and TaskType = #{tasktype} </if>
		  		  <if test="price != null and price != ''"> and Price = #{price} </if>
		  		  <if test="num != null and num != ''"> and Num = #{num} </if>
		  		  <if test="totalmoney != null and totalmoney != ''"> and TotalMoney = #{totalmoney} </if>
		  		  <if test="taskperiod != null and taskperiod != ''"> and taskPeriod = #{taskperiod} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="finishnum != null and finishnum != ''"> and FinishNum = #{finishnum} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wx.domain.TaskinfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into wx_taskinfo
		(
			`url`, 
			`WxName`, 
			`WxId`, 
			`uin`, 
			`key`, 
			`TaskType`, 
			`Price`, 
			`Num`, 
			`TotalMoney`, 
			`taskPeriod`, 
			`Stauts`, 
			`FinishNum`, 
			`sort`, 
			`Createdate`, 
			`Modifydate`
		)
		values
		(
			#{url}, 
			#{wxname}, 
			#{wxid}, 
			#{uin}, 
			#{key}, 
			#{tasktype}, 
			#{price}, 
			#{num}, 
			#{totalmoney}, 
			#{taskperiod}, 
			#{stauts}, 
			#{finishnum}, 
			#{sort}, 
			#{createdate}, 
			#{modifydate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wx.domain.TaskinfoDO">
		update wx_taskinfo 
		<set>
			<if test="url != null">`url` = #{url}, </if>
			<if test="wxname != null">`WxName` = #{wxname}, </if>
			<if test="wxid != null">`WxId` = #{wxid}, </if>
			<if test="uin != null">`uin` = #{uin}, </if>
			<if test="key != null">`key` = #{key}, </if>
			<if test="tasktype != null">`TaskType` = #{tasktype}, </if>
			<if test="price != null">`Price` = #{price}, </if>
			<if test="num != null">`Num` = #{num}, </if>
			<if test="totalmoney != null">`TotalMoney` = #{totalmoney}, </if>
			<if test="taskperiod != null">`taskPeriod` = #{taskperiod}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="finishnum != null">`FinishNum` = #{finishnum}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="createdate != null">`Createdate` = #{createdate}, </if>
			<if test="modifydate != null">`Modifydate` = #{modifydate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from wx_taskinfo where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from wx_taskinfo where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>



</mapper>