<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${accountdetail.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">账户id：</label>
								<div class="col-sm-8">
									<input id="aid" name="aid" th:value="${accountdetail.aid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">操作类型,1.结算,3.提现：</label>
								<div class="col-sm-8">
									<input id="operatetype" name="operatetype" th:value="${accountdetail.operatetype}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收支类型,1.收入，2.支出：</label>
								<div class="col-sm-8">
									<input id="isincome" name="isincome" th:value="${accountdetail.isincome}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交易前余额：</label>
								<div class="col-sm-8">
									<input id="frontaccount" name="frontaccount" th:value="${accountdetail.frontaccount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交易金额：</label>
								<div class="col-sm-8">
									<input id="dealmoney" name="dealmoney" th:value="${accountdetail.dealmoney}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交易后余额：</label>
								<div class="col-sm-8">
									<input id="backaccount" name="backaccount" th:value="${accountdetail.backaccount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createdate" name="createdate" th:value="${accountdetail.createdate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="modifydate" name="modifydate" th:value="${accountdetail.modifydate}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/baseinfo/accountdetail/edit.js">
	</script>
</body>
</html>
