<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.baseinfo.dao.UserinfoDao">

	<select id="get" resultType="com.bootdo.baseinfo.domain.UserinfoDO">
		select `id`,`UserName`,`Password`,`Name`,`Alipay`,`Wechat`,`Phone`,`inviteCode`,`parentId`,`Stauts`,`BillType`,`Createdate`,`Modifydate` from use_userinfo where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.baseinfo.domain.UserinfoDO">
		select `id`,`UserName`,`Password`,`Name`,`Alipay`,`Wechat`,`Phone`,`inviteCode`,`parentId`,`Stauts`,`BillType`,`Createdate`,`Modifydate` from use_userinfo
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="username != null and username != ''"> and UserName = #{username} </if>
		  		  <if test="password != null and password != ''"> and Password = #{password} </if>
		  		  <if test="name != null and name != ''"> and Name = #{name} </if>
		  		  <if test="alipay != null and alipay != ''"> and Alipay = #{alipay} </if>
		  		  <if test="wechat != null and wechat != ''"> and Wechat = #{wechat} </if>
		  		  <if test="phone != null and phone != ''"> and Phone = #{phone} </if>
		  		  <if test="invitecode != null and invitecode != ''"> and inviteCode = #{invitecode} </if>
		  		  <if test="parentid != null and parentid != ''"> and parentId = #{parentid} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="billtype != null and billtype != ''"> and BillType = #{billtype} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from use_userinfo
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="username != null and username != ''"> and UserName = #{username} </if>
		  		  <if test="password != null and password != ''"> and Password = #{password} </if>
		  		  <if test="name != null and name != ''"> and Name = #{name} </if>
		  		  <if test="alipay != null and alipay != ''"> and Alipay = #{alipay} </if>
		  		  <if test="wechat != null and wechat != ''"> and Wechat = #{wechat} </if>
		  		  <if test="phone != null and phone != ''"> and Phone = #{phone} </if>
		  		  <if test="invitecode != null and invitecode != ''"> and inviteCode = #{invitecode} </if>
		  		  <if test="parentid != null and parentid != ''"> and parentId = #{parentid} </if>
		  		  <if test="stauts != null and stauts != ''"> and Stauts = #{stauts} </if>
		  		  <if test="billtype != null and billtype != ''"> and BillType = #{billtype} </if>
		  		  <if test="createdate != null and createdate != ''"> and Createdate = #{createdate} </if>
		  		  <if test="modifydate != null and modifydate != ''"> and Modifydate = #{modifydate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.baseinfo.domain.UserinfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into use_userinfo
		(
			`UserName`, 
			`Password`, 
			`Name`, 
			`Alipay`, 
			`Wechat`, 
			`Phone`, 
			`inviteCode`, 
			`parentId`, 
			`Stauts`, 
			`BillType`, 
			`Createdate`, 
			`Modifydate`
		)
		values
		(
			#{username}, 
			#{password}, 
			#{name}, 
			#{alipay}, 
			#{wechat}, 
			#{phone}, 
			#{invitecode}, 
			#{parentid}, 
			#{stauts}, 
			#{billtype}, 
			#{createdate}, 
			#{modifydate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.baseinfo.domain.UserinfoDO">
		update use_userinfo 
		<set>
			<if test="username != null">`UserName` = #{username}, </if>
			<if test="password != null">`Password` = #{password}, </if>
			<if test="name != null">`Name` = #{name}, </if>
			<if test="alipay != null">`Alipay` = #{alipay}, </if>
			<if test="wechat != null">`Wechat` = #{wechat}, </if>
			<if test="phone != null">`Phone` = #{phone}, </if>
			<if test="invitecode != null">`inviteCode` = #{invitecode}, </if>
			<if test="parentid != null">`parentId` = #{parentid}, </if>
			<if test="stauts != null">`Stauts` = #{stauts}, </if>
			<if test="billtype != null">`BillType` = #{billtype}, </if>
			<if test="createdate != null">`Createdate` = #{createdate}, </if>
			<if test="modifydate != null">`Modifydate` = #{modifydate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from use_userinfo where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from use_userinfo where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>